﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Products.aspx.cs" Inherits="NWWeeb.Products" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
<p />
    <asp:GridView ID="griidikeTooted" AutoGenerateColumns="false" runat="server" >
        <Columns>
            <asp:BoundField DataField="ProductID" HeaderText="kood" />
            <asp:BoundField DataField="ProductName" HeaderText="Nimetus" />
            <asp:BoundField DataField="UnitPrice" HeaderText="Hind" />

        </Columns>
    </asp:GridView>
</asp:Content>
